.choose_weather-screen {
  display: flex;
  justify-content: center;
}
#weather-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#weather-form div,
#weather-form input[type="submit"] {
  border: none;
  width: 90%;
  margin: 5px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  color: whitesmoke;
}
#weather-form div:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
#weather-form input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
#weather-form input[type="number"],
#weather-form textarea {
  border: none;
  background-color: lightcyan;
  border-radius: 5px;
}
