#weather-form div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#weather-form button {
  background-color: #ea4c89;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#weather-form button:hover,
#weather-form button:focus {
  background-color: #f082ac;
  color: black;
}

#weather-form input[type="number"] {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "SanFrancisco";
  font-size: 1.05rem;
  text-align: center;
  margin-left: 5px;
  border: none;
  width: 50px;
  border-radius: 5px;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#weather-form textarea {
  font-family: "SanFrancisco";
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  max-width: 200px;
}
#weather-form input[type="number"]:focus-within,
#weather-form textarea:focus-within {
  outline: none;
}
